<li class="sidebar-item nav-item">
    <a routerLink="publish-article" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Publish Articles
    </a>
</li>
<li class="sidebar-item">
    <a routerLink="read-article" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Read Articles
    </a>
</li>
<li class="sidebar-item">
    <a routerLink="change-password" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Change your password
    </a>
</li>