<li class="sidebar-item nav-item">
    <a routerLink="create-user" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Add a Publisher / User
    </a>
</li>
<li class="sidebar-item nav-item">
    <a routerLink="block-user" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Block a Publisher / User
    </a>
</li>
<li class="sidebar-item nav-item">
    <a routerLink="publish-article" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Publish Articles
    </a>
</li>
<li class="sidebar-item nav-item">
    <a routerLink="approve-article" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Approve Articles
    </a>
</li>
<li class="sidebar-item nav-item">
    <a routerLink="delete-article" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Delete Articles
    </a>
</li>
<li class="sidebar-item nav-item">
    <a routerLink="read-article" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Read Articles
    </a>
</li>
<li class="sidebar-item nav-item">
    <a routerLink="change-password" href="#" class="sidebar-link">
        <i class="fa-solid fa-list pe-2"></i>
        Change your password
    </a>
</li>