<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Change Password</h2>
        <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()" novalidate>
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword"
              [(ngModel)]="currentPassword" #currentPasswordInput="ngModel" required>
            <div *ngIf="currentPasswordInput.invalid && (currentPasswordInput.dirty || currentPasswordInput.touched)"
              class="error-message">Current password is required</div>
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword"
              #newPasswordInput="ngModel" (blur)="validateNewPassword()" required>
            <div *ngIf="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)"
              class="error-message">New password is required</div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
              [(ngModel)]="confirmPassword" #confirmPasswordInput="ngModel" (blur)="validateConfirmPassword()"
              required>
            <div *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)"
              class="error-message">Confirm password is required</div>
            <div *ngIf="passwordsMismatch && confirmPasswordInput.valid" class="error-message">Passwords do not match</div>
          </div>
          <div class="form-group" *ngIf="incorrectCurrentPassword">
            <div class="error-message">Incorrect current password</div>
          </div>
          <button type="submit" class="btn btn-primary changebtn" [disabled]="changePasswordForm.invalid">Change
            Password</button>
        </form>
      </div>
    </div>
  </div>
  