<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Upload Document</h2>
        <form (ngSubmit)="upload()" #documentForm="ngForm">
          <div class="form-group">

            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="document.title" required>
          </div>

          <!-- <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="isPublished" name="isPublished" [(ngModel)]="document.isPublished">
              <label class="form-check-label" for="isPublished">Is Published</label>
            </div>
          </div> -->
          
<!--      <div class="form-group">
            <label for="isDeleted">Is Deleted</label>
            <input type="checkbox" class="form-control" id="isDeleted" name="isDeleted" [(ngModel)]="document.isDeleted">
          </div> -->
          <!-- <div class="form-group">
            <label for="directory">Directory</label>
            <input type="text" class="form-control" id="directory" name="directory" [(ngModel)]="document.directory" required>
          </div> -->
          <div class="form-group upload-div">
            <div class="row">
              <div class="col">
                <label for="file">Select File</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="file" class="form-control-file" #fileInput id="file" name="file" (change)="onFileSelected($event)" accept=".md">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!documentForm.valid">Upload</button>
        </form>
      </div>
    </div>
  </div>
  